flows (2).json
[{"id":"b273db0a.de35f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"edd3d2c7.6bede","type":"function","z":"b273db0a.de35f8","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nvar apikey=\"urHDCJDDy6bbm0aWBwc1O-nBBHsbtNqj6PxksRvN7UYZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["848c940.344fd7"]]},{"id":"848c940.344fd7","type":"http request","z":"b273db0a.de35f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["5aa7526b.38ed0c"]]},{"id":"52edd16f.9a82e","type":"inject","z":"b273db0a.de35f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["edd3d2c7.6bede"]]},{"id":"3d037ed0.0f9432","type":"debug","z":"b273db0a.de35f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":869.0000152587891,"y":506.0000009536743,"wires":[]},{"id":"5aa7526b.38ed0c","type":"function","z":"b273db0a.de35f8","name":"Pre Prediction","func":"var a=global.get('a')\nvar b=global.get('b')\nvar c=global.get('c')\nvar d=global.get('d')\nvar e=global.get('e')\nvar f=global.get('f')\nvar g=global.get('g')\nvar h=global.get('h')\nvar i=global.get('i')\nvar j=global.get('j')\nvar k=global.get('k')\nvar l=global.get('l')\nvar m=global.get('m')\nvar n=global.get('n')\nvar o=global.get('o')\nvar p=global.get('p')\nvar q=global.get('q')\nvar r=global.get('r')\nvar s=global.get('s')\nvar t=global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"65923fcb-48f6-498e-94ac-c57dbb9625d4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\",\n       \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\",\n       \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\",\n       \" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\", \"Developed\",\n       \"Developing\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\nreturn msg;","outputs":1,"noerr":0,"x":626.0000076293945,"y":297.00000381469727,"wires":[["2b5c6c9a.c58b84"]]},{"id":"2b5c6c9a.c58b84","type":"http request","z":"b273db0a.de35f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/65923fcb-48f6-498e-94ac-c57dbb9625d4/deployments/9b5c8a4f-d5a3-447c-9f94-11161fc8ef14/online","tls":"","persist":false,"proxy":"","authType":"","x":814.5000076293945,"y":298.00000381469727,"wires":[["64e126ba.e28188","a7bcde37.6043b"]]},{"id":"6571f32f.63b9bc","type":"ui_text","z":"b273db0a.de35f8","group":"36a12141.67123e","order":5,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":652.6000595092773,"y":515.200005531311,"wires":[]},{"id":"a7bcde37.6043b","type":"function","z":"b273db0a.de35f8","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":882.6000595092773,"y":367.6000051498413,"wires":[["3d037ed0.0f9432","6571f32f.63b9bc"]]},{"id":"64e126ba.e28188","type":"debug","z":"b273db0a.de35f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":642.0000076293945,"y":183.0000057220459,"wires":[]},{"id":"db126ad1.f69c88","type":"ui_form","z":"b273db0a.de35f8","name":"","label":"Input","group":"617960c6.f84cd","order":2,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":440,"wires":[["edd3d2c7.6bede"]]},{"id":"36a12141.67123e","type":"ui_group","z":"b273db0a.de35f8","name":"Prediction","tab":"912cec9.7bf021","order":2,"disp":true,"width":"5","collapse":false},{"id":"617960c6.f84cd","type":"ui_group","z":"","name":"Fill the Information","tab":"912cec9.7bf021","order":1,"disp":true,"width":"6","collapse":false},{"id":"912cec9.7bf021","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]